<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801051059082-7rpbkv9e5jp1jntr3p15m9mm2mo4spee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801051059082-7rpbkv9e5jp1jntr3p15m9mm2mo4spee</string>
	<key>API_KEY</key>
	<string>AIzaSyDqiqeR7YzaZT2xRrZGIl2ZK8HGk0NENow</string>
	<key>GCM_SENDER_ID</key>
	<string>801051059082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IDA.tivovi</string>
	<key>PROJECT_ID</key>
	<string>tivovi-a19e1</string>
	<key>STORAGE_BUCKET</key>
	<string>tivovi-a19e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801051059082:ios:c0283e8ef525f0203d1e73</string>
	<key>DATABASE_URL</key>
	<string>https://tivovi-a19e1.firebaseio.com</string>
</dict>
</plist>